<form action="<%= airplanes_path %>" method="post">
  <input type="text" name="name" placeholder="Name:">
  <input type="text" name="manufacturer" placeholder="Manufacturer:">
  <input type="text" name="passenger_capacity" placeholder="Passenger capacity:">
  <input type="text" name="year_made" placeholder="Year Made:">
  <button id="submit">Submit</button>
</form>