<form action="<%= airplanes_path %>" method="post" role="form">
  <input type="text" name="name" placeholder="Name:" class="form-control">
  <input type="text" name="manufacturer" placeholder="Manufacturer:" class="form-control">
  <input type="text" name="passenger_capacity" placeholder="Passenger capacity:" class="form-control">
  <input type="text" name="year_made" placeholder="Year Made:" class="form-control">
  <button id="submit" class="btn btn-lg btn-primary">Submit</button>
</form>